<%= form_for @poll do |form| %>

<p>
	<%= form.label :title %><br />
	<%= form.text_field :title %>
</p>

<ul>
	<%= form.label :choice %>
	<%= form.fields_for :choices do |choice_form| %>
  	<li>
  	<%= choice_form.text_field :choice %><br />
  	</li>
  <% end %>
</ul>

<p>
	<%= form.submit "Submit" %>
</p>
	
<% end %>

<!-- <script type="text/html" id="new_choice_form">
	<#%= f.fields_for :choices, @poll.choices.build, :child_index => 'CHILD_INDEX' do |cf| %>
		<#%= cf.label :choice %>
		<#%= cf.text_field :choice %><br />
	<#% end %>
</script>

<#%= link_to "Add", '#', :class => "new_form_link", "data-template" => 'new_choice_form' %> -->