<p><%= link_to "Return", root_path %></p>

<h1><%= @poll.title %></h1>

<%= form_for @vote do |f| %>
<% @choices.each do |choice|%>
<p>
	<%= f.radio_button :choice_id, choice.id %>
	<%= f.label "choice_id_#{choice.id}", "#{choice.choice} (#{choice.votes.count}/#{@poll.total_votes})"%><br />
	
</p>
<% end %>
	<%= f.submit "Submit" %>
<% end %>
