<script>
$(function() {
  return new Highcharts.Chart({
    chart: {
      renderTo: "poll_chart",
      defaultSeriesType: "pie"
    },
    title: {
      text: "Poll"
    },
    series: [{
        
      }]
  });
});
</script>

<p><%= link_to "Return", root_path %></p>

<h1><%= @poll.title %></h1>
<h2>Created by <%= @user.username %></h2>
<h1 class="center"><%= pluralize(@poll.total_votes, "VOTE").upcase %></h1>

<!-- <div id="poll_chart" style="width:560px; height:300px;" class: "chart"></div> -->

<%= image_tag(@chart, :class => "chart") if @poll.total_votes != 0 %>

<%= form_for @vote do |f| %>
	<% @choices.each do |choice|%>
	<p>
		<%= f.radio_button :choice_id, choice.id %>
		<%= f.label "choice_id_#{choice.id}", "#{choice.title}" %>	
		<%= "(#{number_to_percentage(choice.total_votes*100/@poll.total_votes.to_f, :precision => 0)})" unless choice.votes.empty? %><br />
	</p>
	
	<% end %>
	
	<%= f.submit "Submit" %>
	
<% end %>

