<!DOCTYPE html>
<html>
<head>
  <title>Blitstat!</title>
  <!-- <#%= stylesheet_link_tag    "application" %> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
	<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
	<!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
	<%= stylesheet_link_tag "application" %>
	
</head>

<body>
	<div class="container">
		<div id="user_nav">
			<% if current_user %>
				Logged in as <%= current_user.email %>.
				<%= link_to "Log out", logout_path %>
			<% else %>
				<%= link_to "Sign-up", signup_path %>
				<%= link_to "Log In", login_path %>
			<% end %>
		</div>

	<%= render 'layouts/header' %>		
	
  <section class="round">
	  <% flash.each do |key, value| %>
	    <div class="flash <%= key %>"><%= value %></div>
	  <% end %>
		<%= yield %>
	</section>
	</div>
</body>
</html>
